# Node modules y dependencias
node_modules/
vendor/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno y configuración
.env
*.log

# Archivos temporales
vendor/
*.log
*.tmp
*.cache

# Archivos de entorno (credenciales, claves)
.env
.env.local
.env.production

# Archivos de base de datos locales
backend/database/*.sqlite
backend/database/*.db
backend/database/hotel_db.sql

# Archivos personales
*.bak
*.zip
*.rar

# Configuraciones específicas del editor
.vscode/
.idea/

# Archivos de compilación o empaquetado (si usas build en el futuro)
dist/
build/
